

import(dplyr)
import(DT)
import(ggplot2)
import(tidyverse)
import(biosim)
import(reshape2)
import(asreml)
import(methods)
import(utils)

export(outliersRemoval)
export(dataOutliers.for)

export(missingAdding)
export(replicationCheck)
export(blueEstimation)

export(extracting)
export(GCA_SCA_Estimation)
export(programRun)

export(mgxeEstimation)
export(mulTraitEstimation)

export(Hybrid_Observations)
export(del_result)

importFrom(dplyr,"%>%")
